{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Contact Us</h1> 

                        <ul class="breadcrumb"> 
                            <li><a href="#">Home</a></li>
                            <li>Contact Us </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="ast_contact_wrapper ast_toppadder70 ast_bottompadder50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="ast_heading">
					<h1>Ask 2 astro</h1>
					<p>You may contact us using the information below:</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<div class="ast_contact_info">
					<span><i class="fa fa-phone" aria-hidden="true"></i></span>
					<h4>phone</h4>
					<p>+91 72010 92290<br>+9172 0109 2290</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<div class="ast_contact_info">
					<span><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
					<h4>email</h4>
					<p><a href="#">support@ask2astro.com</a><br><a href="#">info@ask2astro.com</a></p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<div class="ast_contact_info">
					<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
					<h4>address</h4>
					<p>B 167 Abhilasha Colony, Dewas Road, Ujjain MP 456010</p>
				</div>
			</div>
		</div>
	</div>
</div>

  

    {% endblock content %}