{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    :root {
        --easing-default: cubic-bezier(0.355, 1.8, 0.575, 0.835);
        --ease-in-out-circ: cubic-bezier(0.555, 0.285, 0.375, 0.840);
        --green: #f37335;
        --base-delay: 0.15s;
        --ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    .phone {
    / / border: 1 px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .illustration {
        height: 220px;
        width: 100%;
    / / border: 1 px solid black;
        position: relative;
        transition: all 0.3s ease;
    }

    .small-dots {
        /*width: 100%;*/
        /*height: 100%;*/
    }

    .bubbles {
        width: 220px;
        height: 220px;
    / / border: 1 px solid lightgray;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .bubble {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation-duration: 0.5s;
        animation-delay: var(--base-delay);
        animation-timing-function: var(--easing-default);
        animation-fill-mode: both;
        animation-direction: alternate;
    }

    .bubble-inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .bubble-1 {
        animation-name: bubble-1-move;
        animation-delay: var(--base-delay) +0.05s;

        .bubble-inner {
            opacity: 0.3;
            background-image: linear-gradient(142deg, rgba(0, 200, 33, 0.00) 7%, #f37335 96%);
        }

        @keyframes bubble-1-move {
            0% {
                opacity: 0;
                transform: translate(-50%, -90%)
            }
            100% {
                opacity: 1;
                transform: translate(-50%, -50%)
            }
        }
    }

    .bubble-2 {
        animation-name: bubble-2-move;
        animation-delay: var(--base-delay) +0.03s;

        .bubble-inner {
            opacity: 0.35;
            background-image: linear-gradient(233deg, rgba(0, 200, 27, 0.00) 0%, #f37335 96%);
        }

        @keyframes bubble-2-move {
            0% {
                opacity: 0;
                transform: translate(-90%, -10%);
            }
            100% {
                opacity: 1;
                transform: translate(-52%, -48%)
            }
        }
    }

    .bubble-3 {
        animation-name: bubble-3-move;

        .bubble-inner {
            opacity: 0.35;
            background-image: linear-gradient(233deg, rgba(243, 115, 53, 0.99) 0%, #f37335 96%);
        }

        @keyframes bubble-3-move {
            0% {
                opacity: 0;
                transform: translate(-10%, -10%);
            }
            100% {
                opacity: 1;
                transform: translate(-49%, -46%)
            }
        }
    }


    .small-dot {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        animation-name: dots-appear;
        animation-duration: 0.9s;
        animation-delay: calc(var(--base-delay) + 0.35s);
        animation-timing-function: var(--ease-out-cubic);
        animation-fill-mode: both;
        animation-direction: alternate;
    }

    @keyframes dots-appear {
        0% {
            opacity: 0;
            transform: scale(0.4);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .small-dot-inner {
        position: absolute;
        background-color: #f3733590;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        transform-origin: 200% 50%;
        animation-name: dot-inner-move;
        animation-duration: 5s;
        animation-timing-function: var(--ease-in-out-circ);
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
    }

    @keyframes dot-inner-move {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(35deg);
        }
        100% {
            transform: rotate(0);
        }
    }

    .small-dot-1 {
        animation-delay: calc(var(--base-delay) + 0s);
    }

    .small-dot-2 {
        animation-delay: calc(var(--base-delay) + 0.08s);
    }

    .small-dot-3 {
        animation-delay: calc(var(--base-delay) + 0.05s);
    }

    .small-dot-4 {
        animation-delay: calc(var(--base-delay) + 0.03s);
    }

    .small-dot-5 {
        animation-delay: calc(var(--base-delay) + 0s);
    }

    .small-dot-6 {
        animation-delay: calc(var(--base-delay) + 0.06s);
    }

    .small-dot-7 {
        animation-delay: calc(var(--base-delay) + 0s);
    }

    .small-dot-1 .small-dot-inner {
        width: 11px;
        height: 11px;
        left: 25%;
        top: 22%;
        animation-delay: 1s;
    }

    .small-dot-2 .small-dot-inner {
        width: 6px;
        height: 6px;
        left: 8%;
        top: 32%;
        animation-delay: 2s;
        opacity: 0.8;
    }

    .small-dot-3 .small-dot-inner {
        width: 11px;
        height: 11px;
        left: 6%;
        top: 55%;
        animation-delay: 3s;
        opacity: 0.33;
    }

    .small-dot-4 .small-dot-inner {
        width: 9px;
        height: 9px;
        left: 24%;
        top: 74%;
        opacity: 0.5;
        animation-delay: 2.5s;
    }

    .small-dot-5 .small-dot-inner {
        width: 6px;
        height: 6px;
        right: 15%;
        top: 24%;
        transform-origin: -200% 50%;
        animation-delay: 4.5s;
        opacity: 0.5;
    }

    .small-dot-6 .small-dot-inner {
        width: 10px;
        height: 10px;
        right: 17%;
        top: 45%;
        transform-origin: -200% 50%;
        animation-delay: 3.5s;
        opacity: 0.75;
    }

    .small-dot-7 .small-dot-inner {
        width: 5px;
        height: 5px;
        right: 8%;
        top: 73%;
        transform-origin: -200% 50%;
    }

    .checkmark {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .checkmark-img {
        width: 100%;
        height: 100%;

        animation-name: checkmark-appear;
        animation-duration: 0.25s;
        animation-delay: var(--base-delay) +0.15s;
        animation-timing-function: var(--easing-default);
        animation-fill-mode: both;
        animation-direction: alternate;


        @keyframes checkmark-appear {
            0% {
                opacity: 0;
                transform: scale(0.5);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }

        }
    }

    .no-animation {
        opacity: 0;

        .small-dot, .small-dot-inner, .bubble, .bubble-inner, .checkmark-img {
            animation-name: none !important;
        }
    }
</style>

<section class="as_breadcrum_wrapper">
</section>

<section class="as_contact_wrapper as_padderBottom40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 text-center">
                <div class="phone">

                    <div class="illustration" id="illustration">

                        <div class="small-dots">
                            <div class="small-dot small-dot-1">
                                <div class="small-dot-inner"></div>
                            </div>
                            <div class="small-dot small-dot-2">
                                <div class="small-dot-inner"></div>
                            </div>
                            <div class="small-dot small-dot-3">
                                <div class="small-dot-inner"></div>
                            </div>
                            <div class="small-dot small-dot-4">
                                <div class="small-dot-inner"></div>
                            </div>
                            <div class="small-dot small-dot-5">
                                <div class="small-dot-inner"></div>
                            </div>
                            <div class="small-dot small-dot-6">
                                <div class="small-dot-inner"></div>
                            </div>
                            <div class="small-dot small-dot-7">
                                <div class="small-dot-inner"></div>
                            </div>
                        </div>
                        <div class="bubbles">
                            <div class="bubble bubble-1">
                                <div class="bubble-inner"></div>
                            </div>
                            <div class="bubble bubble-2">
                                <div class="bubble-inner"></div>
                            </div>
                            <div class="bubble bubble-3">
                                <div class="bubble-inner"></div>
                            </div>
                        </div>
                        <div class="checkmark">
                            <svg class="checkmark-img" viewBox="0 0 64 64" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="MTrade-–-MS2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                   stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Order-Success" transform="translate(-156.000000, -518.000000)"
                                       stroke="#FFFFFF"
                                       stroke-width="3.5">
                                        <g id="Done-icon" transform="translate(158.000000, 520.000000)">
                                            <polyline id="Path-2"
                                                      points="17.4519231 33.6057692 24.2307692 40.3846154 45 19.6153846"></polyline>
                                            <circle id="Oval" cx="30" cy="30" r="30"></circle>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <h4 class="mb-3">Hey, {{ user }}</h4>
                <h1 class="as_heading as_heading_center">Your Puja Slot is Booked!</h1>
                <a href="/"><button class="as_btn">Go Back To Home</button></a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}



    